## Imports

In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

## Data

In [2]:
words_df = pd.read_csv('data/collage_words.csv').dropna()
brandwise = words_df.groupby('Brand').agg(lambda x: ", ".join(x)).squeeze()

categories_df = pd.read_csv('data/Categories.csv')
categorywise = categories_df.groupby('Category').agg(lambda x: ", ".join(x)).squeeze()

cars_df = pd.read_csv('data/country_brand.csv')

## Compute TF-IDF

In [7]:
vectorizer = TfidfVectorizer(max_df=0.95, min_df=0.05)
brands_tfidf = vectorizer.fit_transform(brandwise.values).toarray()
brands_tfidf_ids = np.flip(brands_tfidf.argsort(axis=1), axis=1)

In [14]:
brands_tfidf_df = pd.DataFrame(brands_tfidf, columns=vectorizer.get_feature_names_out(), index=brandwise.index)
brands_tfidf_df.sample(5)

,abandoned,abbey,abdomen,...,zoo,zoology,zoom
Brand,,,,,,,
Irish Spring,0.011976,0.000000,0.022702,...,0.000000,0.000000,0.000000
Taco Bell,0.054957,0.000000,0.000000,...,0.029207,0.029697,0.000000
Hot Topic,0.000000,0.020775,0.000000,...,0.000000,0.000000,0.015755
A and W Root Beer,0.087534,0.000000,0.000000,...,0.019383,0.000000,0.000000
Fred Meyer,0.039967,0.037353,0.000000,...,0.017700,0.000000,0.000000